body {
    background-image: url('/static/resimler/arkad.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0; 
    font-family: Arial, sans-serif; 
}

.main {
    max-width: 400px;
    margin: 100px auto; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.hata {
    color: red;
    margin-top: 10px;
}
.vazgec {
    display: inline-block;
    background-color: #FF5555; 
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

.vazgec:hover {
    background-color: #FF9999; 
}