<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Day KÜTÜPHANESİ</title>
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
  <header>
    <h1>Day KÜTÜPHANESİ</h1>
  </header>
  <main>
    <section class="site-info">
      <ul>
        <li>Siteyi Tasarlayan Öğrenci</li>
        <li>No: </li>
        <li>Adı: Durmuş Ali</li>
        <li>Soyadı: </li>
        <li>Bölümü: Bilgisayar Programcılığı 2.sınıf</li>
      </ul>
    </section>
    <section class="menu">
      <a href="/login" class="ekle">Giriş Yap</a>
      <a href="/urunler" class="ekle">Kitaplar için Tıklayınız</a>
      <a href="/cikis" class="sil">Çıkış Yap</a>
    </section>
  </main>
  <footer>
    <h1>Yapılan Yenilikler</h1>
    <ul>
      <li>kaydol ve giriş yap sayfasına efekt eklendi kayarak geliyor. Bunun için giriş yap veya kaydol sayfasında iken sayfayı yenileyin.</li>
      <li>kitap ismine göre arama sayfası eklendi.</li>
      <li>Kitaplara ait resimler eklendi.</li>
      <li>Her Sayfada Anasayfaya dönmek için buton bulunuyor.</li>
    </ul>
  </footer>
</body>
</html>
