<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Üye Girişi</title>
  <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
  <div class="main">
    <form class="" action="{{ url_for('login_kontrol') }}" method="post">
      <label>Üye Girişi</label>
      <input type="text" name="isim" placeholder="Kullanıcı adı" required>
      <input type="password" name="sifre" placeholder="Şifre giriniz" required>
      <button>Giriş</button>
      <button style="margin-top: 3px;" onclick="kaydol()">Sisteme Kayıt ol</button>
      <button style="margin-top: 3px;" onclick="redirectToHome()">Anasayfa</button>
      {% if hata %}
        <label class="hata">{{ hata }}</label>
      {% endif %}
    </form>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var form = document.querySelector('.main form');
      form.classList.add('visible');
    });
    function kaydol() {
      window.location.href = "/kaydol";
    }
    function redirectToHome() {
      window.location.href = "/";
    }
  </script>
</body>
</html>
